* {
   margin: 0;
   padding: 0;
}

body  {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.cabecalho {
   background-image: linear-gradient(#D9C9E1, #A9248F);
   color: #000000;
   display: flex;
   justify-content: space-around;
}

.cabecalho-itens {
   font-size: 36px;
   margin: 5px;
   display: inline-block;
   color: #ffffff;
   padding-top: 20px;
}

.cabecalho-logo {
   width: 25%;
   height: 25%;
}

.formadores {
   background-image: linear-gradient(#A9248F, #D9C9E1);
   width: 1440px;
   height: 300px;
}

.formadores-titulo {
   color: #3B0D54;
   font-size: 70px;
   text-align: center;
   padding-top: 50px;
}

.formadores-itens {
   font-size: 36px;
   color:#A9248F;
   text-align: center;
   padding-top: 30px;
}

.galeria {
   background-color: #D9C9E1;
   font-size: 36px;
   display: flex;
   justify-content: space-around;
   font-weight: bold;
}

.galeria-foto {
   width: 500px;
   border-radius: 40px;
   padding-top: 20px;
}
